<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>中央频道</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>中央综合</string>
				<key>url</key>
				<string>udp://239.2.4.7:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央财经</string>
				<key>url</key>
				<string>udp://239.2.2.1:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央综艺</string>
				<key>url</key>
				<string>udp://239.2.4.1:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央国际</string>
				<key>url</key>
				<string>udp://239.2.3.33:10033</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央体育</string>
				<key>url</key>
				<string>udp://239.2.4.2:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央电影</string>
				<key>url</key>
				<string>udp://239.2.4.3:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央军事</string>
				<key>url</key>
				<string>udp://239.2.2.2:10002</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央电视剧</string>
				<key>url</key>
				<string>udp://239.2.4.4:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央纪录</string>
				<key>url</key>
				<string>udp://239.2.4.8:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央科教</string>
				<key>url</key>
				<string>udp://239.2.2.3:10003</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央戏曲</string>
				<key>url</key>
				<string>udp://239.2.2.4:10004</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央社会</string>
				<key>url</key>
				<string>udp://239.2.2.5:10005</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央新闻</string>
				<key>url</key>
				<string>udp://239.2.2.26:10026</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央少儿</string>
				<key>url</key>
				<string>udp://239.2.2.25:10025</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央音乐</string>
				<key>url</key>
				<string>udp://239.2.2.6:10006</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中央英语</string>
				<key>url</key>
				<string>udp://239.2.3.34:10034</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>湖南频道</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>湖南卫视</string>
				<key>url</key>
				<string>udp://239.2.2.9:10009</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖南经视</string>
				<key>url</key>
				<string>udp://239.2.4.5:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖南都市</string>
				<key>url</key>
				<string>udp://239.2.5.1:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖南公共</string>
				<key>url</key>
				<string>udp://239.2.5.4:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖南娱乐</string>
				<key>url</key>
				<string>udp://239.2.5.5:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>湖南电视剧</string>
				<key>url</key>
				<string>udp://239.2.5.6:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>潇湘电影</string>
				<key>url</key>
				<string>udp://239.2.5.2:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>长沙政法</string>
				<key>url</key>
				<string>udp://239.2.5.3:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>金鹰卡通</string>
				<key>url</key>
				<string>udp://239.2.2.10:10010</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>动漫频道</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>炫动卡通</string>
				<key>url</key>
				<string>udp://239.2.2.17:10017</string>
			</dict>
			<dict>
				<key>name</key>
				<string>优漫卡通</string>
				<key>url</key>
				<string>udp://239.2.2.50:10050</string>
			</dict>
			<dict>
				<key>name</key>
				<string>卡酷动画</string>
				<key>url</key>
				<string>udp://239.2.2.57:10057</string>
			</dict>
			<dict>
				<key>name</key>
				<string>嘉佳卡通</string>
				<key>url</key>
				<string>udp://239.2.3.12:10012</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>卫视频道</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>北京卫视</string>
				<key>url</key>
				<string>udp://239.2.2.58:10058</string>
			</dict>
			<dict>
				<key>name</key>
				<string>东方卫视</string>
				<key>url</key>
				<string>udp://239.2.2.18:10018</string>
			</dict>
			<dict>
				<key>name</key>
				<string>江苏卫视</string>
				<key>url</key>
				<string>udp://239.2.2.49:10049</string>
			</dict>
			<dict>
				<key>name</key>
				<string>浙江卫视</string>
				<key>url</key>
				<string>udp://239.2.6.49:10049</string>
			</dict>
			<dict>
				<key>name</key>
				<string>广东卫视</string>
				<key>url</key>
				<string>udp://239.2.2.34:10034</string>
			</dict>
			<dict>
				<key>name</key>
				<string>广西卫视</string>
				<key>url</key>
				<string>udp://239.2.2.33:10033</string>
			</dict>
			<dict>
				<key>name</key>
				<string>江西卫视</string>
				<key>url</key>
				<string>udp://239.2.6.17:10017</string>
			</dict>
			<dict>
				<key>name</key>
				<string>云南卫视</string>
				<key>url</key>
				<string>udp://239.2.2.35:10035</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宁夏卫视</string>
				<key>url</key>
				<string>udp://239.2.6.1:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>辽宁卫视</string>
				<key>url</key>
				<string>udp://239.2.2.41:10041</string>
			</dict>
			<dict>
				<key>name</key>
				<string>河北卫视</string>
				<key>url</key>
				<string>udp://239.2.6.57:10057</string>
			</dict>
			<dict>
				<key>name</key>
				<string>安徽卫视</string>
				<key>url</key>
				<string>udp://239.2.6.33:10033</string>
			</dict>
			<dict>
				<key>name</key>
				<string>陕西卫视</string>
				<key>url</key>
				<string>udp://239.2.6.9:10009</string>
			</dict>
			<dict>
				<key>name</key>
				<string>四川卫视</string>
				<key>url</key>
				<string>udp://239.2.6.26:10026</string>
			</dict>
			<dict>
				<key>name</key>
				<string>深圳卫视</string>
				<key>url</key>
				<string>udp://239.2.3.10:10010</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>其他频道</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>农林卫视</string>
				<key>url</key>
				<string>udp://239.2.6.10:10010</string>
			</dict>
			<dict>
				<key>name</key>
				<string>康巴卫视</string>
				<key>url</key>
				<string>udp://239.2.6.25:10025</string>
			</dict>
			<dict>
				<key>name</key>
				<string>戏曲频道</string>
				<key>url</key>
				<string>udp://239.2.5.7:10001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南方卫视</string>
				<key>url</key>
				<string>udp://239.2.3.9:10009</string>
			</dict>
			<dict>
				<key>name</key>
				<string>旅游卫视</string>
				<key>url</key>
				<string>udp://239.2.3.17:10017</string>
			</dict>
			<dict>
				<key>name</key>
				<string>星空卫视</string>
				<key>url</key>
				<string>udp://239.2.3.41:10041</string>
			</dict>
			<dict>
				<key>name</key>
				<string>V音乐台</string>
				<key>url</key>
				<string>udp://239.2.3.42:10042</string>
			</dict>
			<dict>
				<key>name</key>
				<string>阳光卫视</string>
				<key>url</key>
				<string>udp://239.2.3.49:10049</string>
			</dict>
			<dict>
				<key>name</key>
				<string>澳门莲花</string>
				<key>url</key>
				<string>udp://239.2.3.50:10050</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凤凰中文</string>
				<key>url</key>
				<string>udp://239.2.3.60:10060</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凤凰资讯</string>
				<key>url</key>
				<string>udp://239.2.3.61:10061</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>高清频道</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>中文国际HD</string>
				<key>url</key>
				<string>udp://239.2.3.25:10025</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凤凰中文HD</string>
				<key>url</key>
				<string>udp://239.2.3.57:10057</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凤凰资讯HD</string>
				<key>url</key>
				<string>udp://239.2.3.58:10058</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凤凰香港HD</string>
				<key>url</key>
				<string>udp://239.2.3.59:10059</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
